<?xml version="1.0"?>
<config>
    <modules>
        <Shopgo_SkynetShipping>
            <version>1.0.8</version>
        </Shopgo_SkynetShipping>
    </modules>
    <global>
        <blocks>
            <skynetshipping>
                <class>Shopgo_SkynetShipping_Block</class>
            </skynetshipping>
        </blocks>
        <helpers>
            <skynetshipping>
                <class>Shopgo_SkynetShipping_Helper</class>
            </skynetshipping>
        </helpers>
        <models>
            <skynetshipping>
                <class>Shopgo_SkynetShipping_Model</class>
                <resourceModel>skynetshipping_resource</resourceModel>
            </skynetshipping>
            <skynetshipping_resource>
                <class>Shopgo_SkynetShipping_Model_Resource</class>
                <entities>
                    <service>
                        <table>sg_skynet_shipping_service</table>
                    </service>
                </entities>
            </skynetshipping_resource>
        </models>
        <resources>
            <skynetshipping_setup>
                <setup>
                    <module>Shopgo_SkynetShipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </skynetshipping_setup>
            <skynetshipping_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </skynetshipping_write>
            <skynetshipping_read>
               <connection>
                <use>core_read</use>
              </connection>
            </skynetshipping_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <skynetshipping before="Mage_Adminhtml">Shopgo_SkynetShipping_Adminhtml</skynetshipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <skynetshipping>
                    <file>shopgo/skynet_shipping.xml</file>
                </skynetshipping>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <skynet>
                <active>0</active>
                <model>skynetshipping/carrier_skynet</model>
                <title>Skynet Worldwide Express</title>
                <unit_of_measure>KG</unit_of_measure>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </skynet>
        </carriers>
    </default>
</config>
